
.container {
    background-color: black;
    color: white;

    font-family: 'League Spartan', sans-serif;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;

        background-color: white;
        color: black;

        padding: 40px;

        .title {
            font-size: 4rem;
            font-weight: bold;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        width: 100%;

        padding: 40px;

        height: 100%;
        gap: 40px;

        .leftColumn {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            flex-basis: 30%;

            .stateText {
                font-size: 5rem;
            }

            .stateTimer {
                font-size: 7rem;
            }
        }

        .rightColumn {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            flex-basis: 70%;
            height: 100%;

            .paragraphText {
                font-size: 2rem;
                font-style: italic;
            }

            .winnerText {
                font-size: 6rem;
            }

            .progressBarContainer {
                width: 100%;
                height: 100%;
                max-height: 100px;
                
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                gap: 24px;
                
                .progressBarText {
                    font-size: 2rem;
                    font-weight: bold;
                    flex-basis: 160px;
                    display: inline-flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .progressBar {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    .progress {
                        width: 0%;
                        height: 100%;
                        background-color: black;
                        transition: width 0.5s;
                    }
                }
            }
        }
    }
}

@media (max-height: 300px) {
    .container {

        .header {
            display: none;
        }

        .body {
            margin-top: 4px;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            gap: 0;
            padding: 0;

            flex-direction: row;
            height: 100vh;
            
            .leftColumn {

                &.raceComplete {
                    display: none;
                }

                padding-top: 6px;
                padding-left: 15px;

                .stateText {
                    font-size: 40px;
                }

                .stateTimer {
                    font-size: 40px;
                }
            }
            .rightColumn {
                gap: 0;
                margin: -5px;
                height: 100vh;

                .winnerText {
                    font-size: 34px;
                    margin-top: 14px;
                }
                
                .paragraphText {
                    display: none;
                }

                .progressBarContainer {
                    height: 100%;

                    .progressBarText {
                        display: none;
                    }
                }
            }

            
        }
    }
}